body {
  background-color: #1B1B1B;
      display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#fetname_textfield {
  background-color: black;
  color: #cc0000;
  font-weight: bold;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  padding: 20px;
  font-size: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin: 5px;
  text-align: center;
}

input {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  font-size: 14px;
}
